.charInput {
    max-width: 50px;
    width: 10%;
    height: 45px;
    font-size: xx-large;
    text-align: center;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    color: black;
    background-color: gray;
    border: 2px solid black;
}

.selected {
    border: 2px solid green;
}