.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
}

.sendButton {
  background-color: lightgreen;
  width: 70px;
  height: 30px;
  font-size: large;
  border-radius: 2px;
}

.newGameButton {
  background-color: lightgreen;
  width: 100px;
  height: 70px;
  font-size: large;
  border-radius: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}