.keyboard {
    background-color: lightgrey;
    width: 340px;
    margin: auto;
}

.notUsed {
    background-color: rgb(233, 236, 233);
    width: 45px;
    height: 45px;
}

.correct {
    background-color: rgb(112, 226, 112);
    width: 45px;
    height: 45px;
}

.halfCorrect {
    background-color: rgb(230, 164, 66);
    width: 45px;
    height: 45px;
}

.incorrect {
    background-color: gray;
    width: 45px;
    height: 45px;
}